<h3>User profile</h3>

<ul>
  {{#each-in model as |key val|}}
    <li><strong>{{key}}:</strong> {{val}}</li>
  {{/each-in}}
</ul>

<p>{{#link-to "user.photos" model.id}}Click here{{/link-to}} to see this user's photos.</p>

<p>{{#link-to "index"}}Go back{{/link-to}} to users list.</p>
