<h1>Home</h1>

<h2>Users List</h2>

<p>Click on a link below to see a user profile:</p>

<ul>
  {{#each model as |user|}}
    <li>{{#link-to "user" user.id}}{{user.name}}{{/link-to}}</li>
  {{/each}}
</ul>

<p>
  This page utilizes <a href="https://ember-fastboot.com/docs/user-guide#the-shoebox">FastBoot Shoebox</a>.<br />
  This means if you land on this page, it will not make an Ajax request.<br />
  It uses the data passed in from the prerendered version using Shoebox.
</p>
